@charset "UTF-8";
/* CSS Document */

html {
	font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	line-height: 1.4;
}

img{
  	max-width: 100%;
  	height: auto;
  	width: auto;
}

.container1 {
	display: grid;
	width: 100vw;
	height: 100vh;
	background: url("Background/IMG_5201.JPG");
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
	grid-template-areas: 'header'
		'article'
		'nav'
		'section'
		'footer';
}

.container2 {
	display: grid;
	width: 100vw;
	height: 100vh;
	background: url("Background/IMG_5201.JPG");
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
	grid-template-areas: 'header'
		'contact'
		'section'
		'footer';
}

.container3 {
	display: grid;
	width: 100vw;
	height: 100vh;
	background: url("Background/IMG_5201.JPG");
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
	grid-template-areas: 'header'
		'about'
		'footer';
}

.container4 {
	display: grid;
	width: 100vw;
	height: 100vh;
	background: url("Background/IMG_5201.JPG");
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
	grid-template-areas: 'header'
		'portfolio'
		'footer';
}

.container5 {
	display: grid;
	width: 100vw;
	height: 100vh;
	background: url("Background/IMG_5201.JPG");
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
	grid-template-areas: 'header'
		'photos'
		'footer';
}


.header {
	display: block;
	grid-area: header;
	text-align: center;
	min-height: 24vh;
}

.header img {
	height: 80%;
	width: 80%;
}

.article {
	display: grid;
	grid-area: article;
	justify-content: center;
	align-content: flex-end;
	margin: 0 15% 0 15%;
	min-height: 30vh;
}
.article h1 {
	font-size: 2em;
	text-align: center;
	color: black;
}

.about {
	display: grid;
	grid-area: about;
	text-align: justify;
	justify-content: center;
	margin: 0 20% 0 20%;
	min-height: 70vh;
	grid-template-areas: 'h1 h1'
		'img p'
}

.about h1 {
	display: grid;
	grid-area: h1;
	justify-content: center;
	font-size: 2em;
	min-height: 10vh;
}

.about img {
	display: grid;
	justify-content: center;
	align-content: center;
	grid-area: img;
	max-height: 50%;
	max-width: 100%;
	border: outset;
	border-color: black;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	min-height: 40vh;
}

.about p {
	display: grid;
	justify-content: flex-start;
	align-content: flex-start;
	text-align: justify;
	grid-area: p;
	margin: 0 5%;
	font-size: 1em;
	min-height: 40vh;
}

.contact {
	display: grid;
	grid-area: contact;
	text-align: center;
	justify-content: center;
	align-content: space-between;
	margin: 0 20% 0 20%;
	min-height: 50vh;
}

.contactp {
	align-content: center;
	min-height: 20vh;
}

.contact h1 {
	font-size: 2em;
	min-height: 5vh;
}

.contact p {
	font-size: 1.4em;
	min-height: 5vh;
}

.contact h2 {
	font-size: 2em;
	min-height: 5vh;
}

.portfolio {
	display: grid;
	grid-area: portfolio;
	min-height: 70vh;
	grid-template-areas: 'photos projects';
	grid-column-gap: repeat(2, 50vh);
}

.portfolio h1 {
	font-size: 2em;
	text-transform: uppercase;
}

.photos {
	display: grid;
	justify-content: center;
	align-content: flex-start;
	text-align: center;
	grid-area: photos;
	min-height: 60vh;
	grid-auto-columns: 50vh;
}

.photos ul {
    display: grid;
    justify-content: center;
    padding: 0;
	margin: 0;
    list-style: none;
}

.photos li {
    margin-top: auto;
    margin-bottom: auto;
}

.photos a.button1, .photos a.button2, .photos a.button3 {
	display: block;
    text-decoration: none;
    padding: 0.6em;
    text-align: center;
    color: black;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 500;
}
.photos a.button1:hover, .photos a.button2:hover, .photos a.button3:hover {
    font-weight: 500;
    color: white;
}

.projects {
	display: grid;
	justify-content: center;
	align-content: flex-start;
	text-align: center;
	grid-area: projects;
	min-height: 60vh;
	grid-auto-columns: 50vh;
}

.projects ul {
    display: grid;
    justify-content: center;
    padding: 0;
	margin: 0;
    list-style: none;
}

.projects li {
    margin-top: auto;
    margin-bottom: auto;
}

.projects a.button1, .projects a.button2, .projects a.button3, .projects a.button4 {
	display: block;
    text-decoration: none;
    padding: 0.6em;
    text-align: center;
    color: black;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 500;
}
.projects a.button1:hover, .projects a.button2:hover, .projects a.button3:hover, .projects a.button4:hover {
    font-weight: 500;
    color: white;
}

.row {
	display: flex;
	grid-area: photos;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
	padding: 0 4px;
	min-height: 70vh;
}

.column {
	flex: 25vw;
	max-width: 25vw;
	padding: 0 4px;
	min-height: 70vh;
}

.column img {
	width: 100vw;
	margin-bottom: 6px;
	border-radius: 10px;
	vertical-align: middle;
}

.row img {
	text-decoration: none;
    display: inline-block;
    transform: scale(1);
    transition-timing-function: ease-out;
    transition-duration: 250ms;
    -webkit-transform: scale(1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	filter: grayscale(100%);
}

.row img:hover {
	border-radius: 0;
    transform: scale(1.35,1.37);
    transition-timing-function: ease-out;
    transition-duration: 250ms;
    -webkit-transform: scale(1.35,1.37);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1.35,1.37);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
    position: relative;
    z-index: 99;
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	-o-filter: grayscale(0%);
	-ms-filter: grayscale(0%);
	filter: grayscale(0%);
}

.menu {
    display: grid;
	grid-area: nav;
	min-height: 20vh;
}

.menu ul {
    display: grid;
    justify-content: center;
    grid-gap: 5%;
    padding: 0;
	margin: 0;
    list-style: none;
    grid-template-columns: repeat(3, 30vh);
}

.menu li {
    margin-top: auto;
    margin-bottom: auto;
}
.menu a.button1 {
	display: block;
    background-color: white;
    text-decoration: none;
    padding: 0.6em;
    text-align: center;
    color: black;
    text-transform: uppercase;
    font-size: 1.4em;
    border-radius: 1.5em;
	opacity: 0.95;
    font-weight: 500;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.menu a.button1:hover {
	opacity: 0.7;
    font-weight: 500;
    background-color: black;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.menu a.button2 {
	display: block;
    background-color: white;
    text-decoration: none;
    padding: 0.6em;
    text-align: center;
    color: black;
    text-transform: uppercase;
    font-size: 1.4em;
    border-radius: 1.5em;
	opacity: 0.95;
    font-weight: 500;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.menu a.button2:hover {
	opacity: 0.7;
    font-weight: 500;
    background-color: black;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.menu a.button3 {
	display: block;
    background-color: white;
    text-decoration: none;
    padding: 0.6em;
    text-align: center;
    color: black;
    text-transform: uppercase;
    font-size: 1.4em;
    border-radius: 1.5em;
	opacity: 0.95;
    font-weight: 500;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.menu a.button3:hover {
	opacity: 0.7;
    font-weight: 500;
    background-color: black;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.section {
	display: grid;
	grid-area: section;
	grid-gap: 2%;
	justify-content: center;
	align-content: flex-start;
	grid-template-areas: 'fb inst';
	grid-template-columns: repeat(2, 50px);
	min-height: 20vh;
}

.section a.buttonfb {
	display: block;
	grid-area: fb;
	align-content: flex-start;
}

.section a.buttonfb img {
	border-radius: 50%;
	padding: 1px;
	opacity: 0.95;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.section a.buttonfb img:hover {
	opacity: 0.7;
	padding: 1px;
	background-color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.section a.buttoninst {
	display: block;
	grid-area: inst;
	align-content: flex-start;
}

.section a.buttoninst img {
	border-radius: 50%;
	padding: 1px;
	opacity: 0.95;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.section a.buttoninst img:hover {
	opacity: 0.7;
	padding: 1px;
	background-color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.footer {
	display: grid;
	position: fixed;
	grid-area: footer;
	bottom: 0;
	text-align: left;
	background: white;
	width: 100vw;
	min-height: 6vh;
	grid-template-areas: 'textp menufooter';
}

.text p {
	display: block;
	grid-area: textp;
	justify-content: flex-start;
	align-content: center;
	font-size: 1em;
	padding: 1vh;
	text-transform: uppercase;
	margin: 0;
	grid-column-gap: 10vh;
}

.menufooter ul {
    display: grid;
	grid-area: menufooter;
    justify-content: flex-end;
	align-content: center;
    padding: 1vh;
	margin: 0;
    list-style: none;
	grid-template-areas: 'b1 b2 b3 b4';
	grid-column-gap: 10vh;
}

.menufooter li {
    margin-top: auto;
    margin-bottom: auto;
}

.menufooter a.button1 {
	display: block;
	grid-area: b1;
    text-decoration: none;
    text-align: center;
    color: black;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 500;
}

.menufooter a.button2 {
	display: block;
	grid-area: b2;
    text-decoration: none;
    text-align: center;
    color: black;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 500;
}

.menufooter a.button3 {
	display: block;
	grid-area: b3;
    text-decoration: none;
    text-align: center;
    color: black;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 500;
}

.menufooter a.button4 {
	display: block;
	grid-area: b4;
    text-decoration: none;
    text-align: center;
    color: black;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 500;
}

.menufooter a.button1:hover {
    font-weight: 500;
    color: white;
}

.menufooter a.button2:hover {
    font-weight: 500;
    color: white;
}

.menufooter a.button3:hover {
    font-weight: 500;
    color: white;
}

.menufooter a.button4:hover {
    font-weight: 500;
    color: white;
}

@media only screen and (max-width: 2560px) {
	
}

@media only screen and (min-width: 1025px) and (max-width: 2559px) {
	
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
	body {
		max-width: 100%;
		justify-content: center;
	}
	
	.container2 {
		max-width: 100%;
	}
	
	.portfolio {
		grid-template-columns: repeat(2, 40vh);
		justify-content: space-between;
		margin: 0 5%;
	}
	
	.text p {
		grid-column-gap: 10vh;
		justify-content: flex-start;
	}
	
	.about {
		margin: 0 15%;
	}
	
	.about h1 {
		display: grid;
		min-height: 10vh;
	}
	
	.about p {
		display: grid;
		justify-content: flex-end;
		align-content: flex-start;
		font-size: 0.9em;
		min-height: 50vh;
	}
	
	.about img {
		display: grid;
		justify-content: flex-start;
		align-content: flex-start;
		min-height: 10vh;
	}
	
	.about p {
		font-size: 0.9em;
	}
	
	.menufooter ul {
		grid-column-gap: 6vh;
		justify-content: flex-end;
	}
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
	.container2 {
		max-width: 100%;
	}
	
	.header {
		max-width: 100%;
		justify-content: center;
	}
	
	.menu ul {
		grid-template-columns: repeat(3, 25vh);
		justify-content: center;
	}
	
	.portfolio {
		grid-template-columns: repeat(2, 35vh);
		justify-content: space-between;
		margin: 0 5%;
	}
	
	.footer {
		grid-template-areas: 'textp menufooter'
	}
	
	.text p {
		font-size: 0.9em;
		grid-column-gap: 10vh;
		justify-content: flex-start;
	}
	
	.about {
		margin: 0 10%;
	}
	
	.about h1 {
		display: grid;
		min-height: 10vh;
	}
	
	.about p {
		display: grid;
		justify-content: flex-end;
		align-content: flex-start;
		font-size: 0.9em;
		min-height: 50vh;
	}
	
	.about img {
		display: grid;
		justify-content: flex-start;
		align-content: flex-start;
		min-height: 10vh;
	}
	
	.menufooter ul {
		font-size: 0.9em;
		grid-column-gap: 4vh;
		justify-content: flex-end;
	}
}

@media only screen and (min-width: 480px) and (max-width: 600px) {
	.container2 {
		max-width: 100%;
	}
	
	.header {
		max-width: 100%;
		justify-content: center;
	}
	
	.menu ul {
		grid-template-columns: repeat(3, 23vh);
		justify-content: center;
	}
	
	.footer {
		grid-template-areas: 'textp menufooter'
	}
	
	.portfolio {
		grid-template-columns: repeat(2, 40vh);
		justify-content: center;
	}
	
	.text p {
		font-size: 0.8em;
		grid-column-gap: 20vh;
		justify-content: flex-start;
	}
	
	.about {
		margin: 0 5%;
	}
	
	.about h1 {
		display: grid;
		min-height: 10vh;
	}
	
	.about p {
		display: grid;
		justify-content: flex-end;
		align-content: flex-start;
		font-size: 0.8em;
		min-height: 50vh;
	}
	
	.about img {
		display: grid;
		justify-content: flex-start;
		align-content: flex-start;
		min-height: 10vh;
	}
	
	.menufooter ul {
		font-size: 0.8em;
		grid-column-gap: 4vh;
		justify-content: flex-end;
	}
}

@media only screen and (max-width: 479px) {
	
	.header {
		max-width: 100%;
		justify-content: center;
		min-height: 10vh;
	}
	
	.menu {
		min-height: 10vh;
		align-content: stretch;
	}
	
	.menu ul {
		grid-template-columns: 30vh;
		min-height: 10vh;
		justify-content: center;
		align-content: stretch;
	}
	
	.contact {
		grid-template-columns: 30vh;
		min-height: 40vh;
	}
	
	.contact h1, .contact h2 {
		font-size: 1.5em;
	}
	
	.contact p {
		font-size: 1em;
	}
	
	.article {
		align-content: flex-start;
		min-height: 10vh;
	}
	
	.article h1 {
		font-size: 1em;
		min-height: 10vh;
		justify-content: center;
		align-content: flex-start;
	}
	
	.footer {
		grid-template-areas: 'textp menufooter'
	}
	
	.portfolio {
		grid-template-columns: 20vh;
		grid-template-rows: 30vh;
		justify-content: center;
		align-content: space-between;
		grid-template-areas: 'photos'
			'projects';
		min-height: 70vh;
	}
	
	.portfolio h1 {
		font-size: 1.5em ;
	}
	
	.photos a.button1, .photos a.button2, .photos a.button3 {
		font-size: 1em;
	}
	
	.projects a.button1, .projects a.button2, .projects a.button3, .projects a.button4 {
		font-size: 1em;
	}
	
	.text p {
		font-size: 0.5em;
		grid-column-gap: 10vh;
		justify-content: flex-start;
	}
	
	.section {
		min-height: 10vh;
		align-content: flex-start;
	}
	
	.buttonfb {
		margin: 1vh 0;
	}
	
	.buttoninst {
		margin: 1vh 0;
	}
	
	.about {
		margin: 0 5%;
		min-height: 60vh;
	}
	
	.about h1 {
		display: grid;
		min-height: 10vh;
		font-size: 1.5em;
	}
	
	.about p {
		display: grid;
		justify-content: flex-end;
		align-content: flex-start;
		font-size: 0.8em;
		min-height: 50vh;
	}
	
	.about img {
		display: grid;
		justify-content: flex-start;
		align-content: flex-start;
		min-height: 10vh;
	}
	
	.footer {
		min-height: 5vh;
	}
	
	.menufooter ul {
		font-size: 0.9em;
		grid-column-gap: 2vh;
		justify-content: flex-end;
	}
}
